
.header {
    width: 100%;
    height: 80px;
    background-color: rgb(207, 238, 209);
    border-radius: 10px;
    padding: 0 50px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}


.navigation {
    width: 100%;
    display: flex;
    align-items: center;
}


.logo_box {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid rgb(31, 118, 63);
    transition: 0.3s;
    opacity: 1;
}

.logo_box:hover {
    transform: scale(1.08);
    background-color: rgb(255, 239, 201);
}

.logo_box:active {
    background-color: rgb(248, 229, 177);
}


.logo {
    width: 50px;
    height: 50px;
    flex: 1;
}



.nav_box {
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(31, 118, 63);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}


.nav_box:hover {
    transform: scale(1.08);
    background-color: rgb(255, 239, 201);
}

.nav_box:active {
    background-color: rgb(248, 229, 177);
}


.nav_text {
    margin: 0;
    size: 16px;
    color: black;
}


.options_box {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

.personal_account {
    display: flex;
    justify-content: flex-end;
}